.hit-effect {
    position: absolute;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    top: -30px;
    overflow: visible;
}

/* rising stars */
.sparkle {
    position: absolute;
    opacity: 0;
    transform: scale(0.8);
    animation: rise 0.3s ease-out forwards;
}

/* rising effect */
@keyframes rise {
    0% {
        transform: translateY(0) scale(0.8);
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateY(-40px) scale(1);
    }
    100% {
        transform: translateY(-80px) scale(1.2);
        opacity: 0;
    }
}
