/* ParticleBackground.css */

.particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

  /* When .blue-flash is present on .particle-container,
     override the color of .particle to blue.
  */
/* .particle-container.blue-flash .particle {
    background-color: rgb(143, 143, 255) !important;
} */

.particle {
    position: absolute;
    border-radius: 50%;
    background: white;
    opacity: 0; /* start invisible, will fade in */
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    /* transition: background-color 0.2s ease, box-shadow 0.2s ease; */
}

  /* float animation is unchanged */
@keyframes float {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    10% {
      opacity: var(--maxOpacity);
    }
    90% {
      opacity: var(--maxOpacity);
    }
    100% {
      transform: translate(var(--translateX), var(--translateY));
      opacity: 0;
    }
}
