.session-overview-page {
    padding: 120px 100px;

    overflow: hidden;
}

.session-overview-page h3 {
    margin-bottom: 10px;
}

.session-overview-page .song-tracks {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ---------- YOUR SONGS ---------- */
.session-overview-page .your-songs img {
    height: 120px;
    width: 120px;
    display: flex;
    align-self: center;
    border-radius: 5px;
}

.session-overview-page .your-songs h4 {
    overflow-x: auto;
    width: 120px;
}

.session-overview-page .your-songs p {
    overflow-x: auto;
    width: 120px;
}

.session-overview-page .your-songs .song-card-container {
    display: flex;

    width: 100vw;
    height: 254px;

    gap: 10px;

    overflow-x: auto;

    position: relative;
    right: 0;

    padding: 20px;
    padding-right: 150px;
    background-color: rgb(35, 43, 45);
    border-radius: 10px;

    border: 1px solid aquamarine;

    align-items: center;
}

.session-overview-page .your-songs .song-card-container::-webkit-scrollbar,
.session-overview-page .your-tracks .track-card-container::-webkit-scrollbar,
.song-card h4::-webkit-scrollbar,
.song-card p::-webkit-scrollbar,
.track-card h4::-webkit-scrollbar,
.track-card p::-webkit-scrollbar {
    display: none;
}

.session-overview-page .your-songs .song-card-container .song-card {
    display: flex;

    padding: 10px;

    gap: 10px;

    background-color: black;
    border-radius: 10px;

    width: 140px;

    /* border: 1px solid red; */

    position: relative;

    overflow: hidden;
}

.session-overview-page .song-card .buttons {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0px; /* Start the buttons off-screen */
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;

    gap: 5px;
}

.session-overview-page .song-card:hover .buttons {
    opacity: 1;
    right: 10px; /* Move the buttons into view */
}

.session-overview-page .song-card .buttons button {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;

    /* padding: 20px 5px; */
    width: 40px;
    height: 93.5px;

    /* box-shadow: -10px 0px 30px 0px rgba(0,0,0,0.75); */
}

.session-overview-page .song-card .buttons .edit-button {
    background-color: rgb(71, 103, 93);

    border-top-right-radius: 5px;
}

.session-overview-page .song-card .buttons .edit-button:hover {
    background-color: rgb(104, 179, 155);
}

.session-overview-page .song-card .buttons .delete-button {
    background-color: rgb(255, 87, 87);

    border-bottom-right-radius: 5px;
}

.session-overview-page .song-card .song-details {
    margin-top: 10px;
}

.session-overview-page .track-open-modal {
    all: unset;

}

.session-overview-page .track-open-modal .track-card:hover {
    background-color: aquamarine;
    color: black;
}

.session-overview-page .your-tracks .track-card-container {
    display: flex;

    width: 100vw;
    height: 172px;

    gap: 10px;

    overflow-x: auto;

    position: relative;
    right: 0;

    padding: 20px;
    padding-right: 150px;
    background-color: rgb(35, 43, 45);
    border-radius: 10px;

    border: 1px solid aquamarine;

    align-items: center;
}

.session-overview-page .track-card-container .track-card {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;

    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.672);
    color: rgb(255, 255, 255);
    width: 250px;

    border-radius: 10px;

    transition: 0.3s ease;
}

.session-overview-page .track-card-container .track-card h4 {
    width: 100px;
    overflow-x: auto;
    text-wrap: nowrap;
}

.session-overview-page .track-card-container .track-card .track-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-overview-page .your-tracks img {
    height: 120px;
    width: 120px;
    border-radius: 10px;
}


/* ---------- ADD SONG BUTTON ---------- */
.session-overview-page .add-song-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    border-radius: 50%;
    background-color: gray;
    margin-left: 30px;
    margin-right: 40px;

    transition: 0.2s ease;
}

.session-overview-page .add-song-button i {
    color: aquamarine;
    font-size: 20px;

    transition: 0.2s ease;
}

.session-overview-page .add-song-button:hover {
    border-radius: 35%;
    background-color: aquamarine;
}

.session-overview-page .add-song-button:hover i {
    color: black;
}

.session-overview-page .add-song-button .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    bottom: 125%; /* position above the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    line-height: 0.9;
}

.session-overview-page .add-song-button .tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: aquamarine transparent transparent transparent;
}

.session-overview-page .add-song-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
