/* TODO: Add sitewide styles */
* {
    font-family: 'Helvetica';
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    color: white;
}

:root {
    --primary: rgb(127, 176, 255);
}

/* @font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.ttf') format('truetype');
    font-weight: thin;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
} */
