.profile-dropdown {
  position: absolute;
}

.navigation-container {
  margin: 20px 100px;
  padding: 0 30px;

  position: fixed;
  height: 80px;
  width: calc(100vw - 200px);

  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.353);
  border: 1px solid rgb(44, 44, 44);
  /* border: 1px solid red; */

  backdrop-filter: blur(20px);

  z-index: 666;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-container .logo-container {
  height: 40px;
}

.navigation-container .logo-container:hover {
  cursor: pointer;
}

.navigation-container .logo-container img {
  height: 40px;
}

/* .navigation-container .logo-container img:hover {
  cursor: pointer;
} */

.navigation-container .nav-menu {
  display: flex;
  gap: 10px;
}

.navigation-container .nav-menu button {
  all: unset;
  padding: 10px;

  border-radius: 10px;
  transition: 0.3s ease;
}

.navigation-container .nav-menu button:hover {
  background-color: rgba(128, 128, 128, 0.263);
  cursor: pointer;
}

.icon-container button {
  all: unset;
}

.icon-container i {
  font-size: 30px;
  border: 1px solid rgb(127, 255, 212);
  color: rgb(255, 255, 255);
  border-radius: 50%;
}

.icon-container button:hover i {
  color: aquamarine;
}

.profile-dropdown {
  position: absolute;
  top: 85px;
  right: 0px;
  background-color: rgb(60, 60, 60);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(127, 255, 212, 0.483);

  z-index: 1010;
  width: 250px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.52);
  border-radius: 15px;
  padding: 10px 0;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.username-and-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
}

.username-and-email h4 {
  font-size: 25px;
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(127, 255, 212, 0.115);
  margin: 5px 0;
}

.account a {
  all: unset;
}

.account a p {
  padding: 5px 0px 5px 15px;
  font-size: 20px;
  font-weight: bold;
}

.account a p:hover {
  background-color: rgba(127, 255, 212, 0.215);
  backdrop-filter: blur(10px);
}

.bottom button {
  all: unset;
  width: 100%;
  padding: 5px 0px 5px 15px;
}

.bottom button:hover {
  background-color: rgba(127, 255, 212, 0.215);
  backdrop-filter: blur(10px);
}

.bottom button p {
  font-size: 20px;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom a {
  all: unset;
}

.bottom a p {
  padding: 5px 0px 5px 15px;
  font-size: 20px;
}

.bottom a p:hover {
  background-color: aquamarine;
  backdrop-filter: blur(10px);
}

.signup-login-container {
  display: flex;
  gap: 10px;
}

.signup-login-container button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-login-container .signup-button {
  padding: 10px;
  background-color: aquamarine;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  transition: 0.3s ease;
}

.signup-login-container .signup-button:hover {
  background-color: rgb(226, 255, 245);
  box-shadow: 0px 0px 20px 1px rgb(195, 255, 235);
  color: black;
  cursor: pointer;
}

.signup-login-container .login-button {
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s ease;

  /* display: flex;
  align-items: center; */
}

.signup-login-container .login-button:hover {
  background-color: rgba(128, 128, 128, 0.273);
  cursor: pointer;
}
