.note {
    width: 20px;
    height: 20px;
    background-color: #ff6347;
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    cursor: grab;
}

.note:active {
    cursor: grabbing;
}
