.add-song-page {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

    padding-top: 120px;
    /* height: 700px; */

    border: 2px solid red;
}

.add-song-page form {
    margin-top: 20px;

    display: flex;
    gap: 20px;

    padding: 10px;
}

.add-song-page button {
    all: unset;

    padding: 10px;

    background-color: aquamarine;
    color: black;
    font-weight: bold;

    border-radius: 10px;
}

.add-song-page input {
    all: unset;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
}

.add-song-page p {
    color: rgb(255, 106, 106);
}

.add-song-page .add-song-section {
    padding: 10px;
    border: 2px solid red;
}

.add-song-page .add-song-section h1 {
    display: flex;
    justify-content: space-between;


}
