.add-song-page {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding-top: 130px;

    /* border: 2px solid red; */

    gap: 10px;
}

.add-song-page form {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;
}

.add-song-page form .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-song-page form .art {
    display: flex;
    gap: 20px;

    border-right: 2px solid rgba(127, 255, 212, 0.432);
    padding-right: 60px;
}

.add-song-page form .name-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
}

.add-song-page form .name-artist input {
    border-radius: 10px;
    padding: 5px 10px;
}

.add-song-page form .file-duration {
    display: flex;
    flex-direction: column;

    padding-left: 60px;

    gap: 10px;
}

.add-song-page .duration {
    display: flex;

    gap: 10px;
}

.add-song-page .duration input {
    all: unset;
}

.add-song-page form h4 {
    color: aquamarine;
}

.add-song-page .add-song-section .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    color: aquamarine;

    /* background-color: gray; */
}

.add-song-page button {
    all: unset;

    font-size: 20px;
    font-weight: bold;

    padding: 10px 20px;

    border-radius: 15px;
}

.add-song-page button:hover {
    background-color: aquamarine;
    color: black;
}

.add-song-page .add-song-section .buttons .add-song-button {
    background-color: rgb(71, 103, 93);

    transition: 0.3s ease;
}

.add-song-page .add-song-section .buttons .add-song-button:hover {
    background-color: aquamarine;

    cursor: pointer;
}

.add-song-page .add-song-section .buttons .continue-button {
    background-color: rgb(71, 103, 93);

    transition: 0.3s ease;
}

.add-song-page .add-song-section .buttons .continue-button:hover {
    background-color: aquamarine;

    cursor: pointer;
}

.add-song-page input {
    all: unset;
    padding: 5px;
    background-color: rgb(41, 60, 54);
    border: 1px solid aquamarine;
    /* border-radius: 5px; */
}

.add-song-page .cover-art input {
    display: none;
}

.cover-art button {
    all: unset;

    height: 200px;
    width: 200px;

    border: 4px solid aquamarine;

    text-align: center;

    background-color: rgb(41, 60, 54);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: aquamarine;

    transition: 0.2s ease;

    cursor: pointer;

    border-radius: 15px;
}

.cover-art button:hover {
    border: 4px solid white;

    color: white;

    background-color: gray;
}

.add-song-page .file input {
    display: none;
}

.add-song-page .file button {
    all: unset;
}

.add-song-page p {
    color: rgb(255, 106, 106);
}

.add-song-page .add-song-section {
    /* padding: 10px; */
    width: 1100px;
    /* border: 2px solid red;-0 */
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
}

.add-song-page .add-song-section h1 {
    display: flex;

    padding: 10px 20px;

    background-color: aquamarine;
    color: black;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s ease;

    border-radius: 20px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.42);
}

.add-song-page .add-song-section h1:hover {
    background-color: rgba(127, 255, 212, 0.481);
    color: aquamarine;
}

.add-song-page .file button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;

    color: black;

    transition: 0.2s ease;

    border-radius: 15px;
}

.add-song-page .file button:hover {
    background-color: rgb(255, 255, 255);
}




.add-song-page .pick-song-section {
    /* padding: 10px; */
    width: 1100px;
    /* border: 2px solid red;-0 */
    background-color: rgb(53, 53, 53);
    /* height: 600px; */

    border-radius: 20px;
}

.add-song-page .pick-song-section h1 {
    display: flex;

    padding: 10px 20px;

    background-color: aquamarine;
    color: black;
    justify-content: space-between;
    align-items: center;

    transition: 0.3s ease;

    border-radius: 20px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.42);
}

.add-song-page .pick-song-section h1:hover {
    background-color: rgba(127, 255, 212, 0.481);
    color: aquamarine;
}

.add-song-page .all-songs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 15px;

    gap: 10px;

    height: 400px;

    overflow: hidden;
    overflow-y: auto;

    /* border: 1px solid red; */
}

.add-song-page .all-songs-container .song-card {
    display: flex;
    gap: 15px;

    background-color: rgb(49, 88, 75);
    padding: 10px;
    width: 250px;
    height: 125px;

    border: 2px solid rgb(70, 127, 108);

    border-radius: 10px;

    overflow: hidden;
}

.add-song-page .all-songs-container .song-card:hover {
    cursor: pointer;

    background-color: rgb(95, 177, 150);
    border: 2px solid aquamarine;
}

.add-song-page .all-songs-container .song-card img {
    width: 100px;
    height: 100px;

    object-fit: cover;
}

.add-song-page .all-songs-container .song-card .song-details h4 {
    width: 111px;
    overflow-x: scroll;

    text-wrap: nowrap;
}

.add-song-page .all-songs-container .song-card .song-details p {
    color: white;
    width: 111px;
    overflow-x: scroll;
    text-wrap: nowrap;
}

.add-song-page .all-songs-container .song-card.selected {
    background-color: rgb(95, 177, 150);
    border: 2px solid aquamarine;
}

.add-song-page .pick-song-container .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    height: 90px;

    background-color: rgb(73, 73, 73);
    border-radius: 20px;
}

.add-song-page .pick-song-container .buttons button {
    display: flex;
    justify-content: end;

    background-color: rgb(71, 103, 93);
    color: aquamarine;

    transition: 0.2s ease;
    border-radius: 15px;
}

.add-song-page .pick-song-container .buttons button:hover {
    background-color: aquamarine;
    color: black;
}

.add-song-page .selected-display {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;

    gap: 20px;

    /* border: 1px solid red; */
}

.add-song-page .selected-display .mini-song-card {

    display: flex;
    gap: 5px;
    align-items: center;

    /* font-size: 18px; */

    /* border: 1px solid red; */

    background-color: aquamarine;

    padding: 3px 10px 3px 3px;
}

.add-song-page .selected-display .mini-song-card .mini-song-details p {
    font-size: 18px;
    color: black;
}

.add-song-page .selected-display .mini-song-card img {
    width: 60px;
    height: 60px;

    display: flex;
    align-self: center;
}

.pick-song-container .search-bar {
    display: flex;
    /* gap: 10px; */
    margin-top: 10px;

    align-items: center;
    padding: 10px 40px;
}

.pick-song-container .search-bar i {
    background-color: rgb(41, 41, 41);

    padding: 10px;
    position: absolute;
    /* left: 100px; */
    border-radius: 10px;
}

.pick-song-container .search-bar input {
    all: unset;

    width: 100%;
    padding: 10px;
    padding-left: 40px;

    background-color: rgb(41, 41, 41);

    border-radius: 10px;
}

/* ------ LOADER ANIMATION ------ */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.641);
    z-index: 1000;
  }

  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(127, 255, 212, 0.576);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }

  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }

  .bar:nth-child(3) {
    animation-delay: .5s;
  }

  @keyframes scale-up4 {
    20% {
      background-color: aquamarine;
      transform: scaleY(1.5);
    }

    40% {
      transform: scaleY(1);
    }
  }
